* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif; }

.wrapper {
  background: url("../img/bg.png") repeat;
  overflow: hidden; }

.mask {
  position: fixed;
  background: rgba(0, 0, 0, 0.38);
  display: none;
  height: 100%;
  width: 100%;
  z-index: 10; }

.bw_close {
  position: absolute;
  top: 0px;
  font-size: 10px;
  color: #fff;
  right: 30px;
  cursor: pointer;
  background: #000;
  width: 30px;
  height: 30px;
  z-index: 10; }

header, footer {
  background: #fff;
  padding: 1em 0;
  position: relative;
  z-index: 3; }

header .container,
main .container,
footer .container {
  width: 90%;
  margin: 0 auto;
  display: flex; }

header:before {
  content: '';
  background-color: #7cb927;
  height: 3px;
  width: 100%;
  display: block;
  position: absolute;
  bottom: -3px; }
header:after {
  content: '';
  background-color: #ee751c;
  height: 3px;
  width: 100%;
  display: block;
  position: absolute;
  bottom: -6px; }
header .container {
  width: 100%;
  padding: 0 10px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
header .menu .menu_item {
  display: inline-block; }
  header .menu .menu_item a {
    color: #000000;
    text-decoration: none; }
    header .menu .menu_item a:hover {
      color: #ee751c; }
header .menu .menu_item + .menu_item {
  margin-left: 20px; }

.main_top {
  margin-top: 97px; }

.main_bottom {
  margin-bottom: 57px; }

main {
  position: relative; }
  main aside {
    padding: 20px;
    background: #66bd009e;
    margin: 20px 10px 20px 0;
    border-radius: 10px;
    position: absolute; }
    main aside .btn {
      width: 200px;
      cursor: pointer;
      padding: 20px;
      background: #ff6d00;
      border-radius: 10px;
      outline: none;
      border: 3px solid #ff6d00;
      color: #fff;
      display: block;
      margin: 10px auto;
      font-size: 18px; }
      main aside .btn:hover {
        background: #fff;
        color: #ff6d00; }
    main aside > img {
      background: #fff;
      width: 100%;
      margin: 10px auto 0;
      padding: 10px;
      box-sizing: border-box; }
  main article {
    padding: 20px;
    background: #ffffffab;
    margin: 20px 0 20px 255px;
    border-radius: 10px; }
  main h1 {
    font-size: 28px;
    margin-bottom: 25px; }
  main p {
    line-height: 1.7;
    margin: 10px 0; }

footer:before {
  content: '';
  background-color: #7cb927;
  height: 3px;
  width: 100%;
  display: block;
  position: absolute;
  top: -3px; }
footer:after {
  content: '';
  background-color: #ee751c;
  height: 3px;
  width: 100%;
  display: block;
  position: absolute;
  top: -6px; }
footer .container {
  flex-direction: row;
  justify-content: center;
  align-items: center; }
footer .copyright {
  justify-self: center;
  align-self: center; }

.fixed_footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0; }

.fixed_header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }

@media (min-width: 1500px) {
  header .container,
  main .container,
  footer .container {
    width: 1200px;
    margin: 0 auto;
    display: flex; }

  header .container {
    width: 1400px; } }
@media (max-width: 991px) {
  header .container,
  main .container,
  footer .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    display: flex; }

  .main_top {
    margin-top: 70px; }

  .main_bottom {
    margin-bottom: 50px; }

  header .menu_block {
    display: none; }
    header .menu_block.visible_mobile {
      display: block; }
    header .menu_block .btn-close {
      position: absolute;
      right: 10px;
      top: 24px;
      width: 24px;
      height: 24px;
      opacity: 0.6;
      background: transparent;
      border: none; }
      header .menu_block .btn-close:before, header .menu_block .btn-close:after {
        position: absolute;
        left: 15px;
        top: 0;
        content: ' ';
        height: 24px;
        width: 2px;
        background-color: #000; }
      header .menu_block .btn-close:before {
        transform: rotate(45deg); }
      header .menu_block .btn-close:after {
        transform: rotate(-45deg); }
    header .menu_block .menu {
      background: #95ca65;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      text-align: center; }
      header .menu_block .menu .menu_item {
        display: block;
        margin: 5px auto;
        text-align: center; }
        header .menu_block .menu .menu_item a {
          color: #000000;
          text-decoration: none; }
          header .menu_block .menu .menu_item a:hover {
            color: #ee751c; }
      header .menu_block .menu .menu_item + .menu_item {
        margin-left: 0px; }
  header .logo {
    width: 150px; }
    header .logo img {
      width: 100%; }
  header .menu-icon {
    display: inline-block;
    vertical-align: top;
    width: 23px;
    height: 18px;
    position: relative; }
    header .menu-icon .menu-icon-lines {
      height: 2px;
      background: #000000;
      width: 100%;
      margin-top: 8px; }
      header .menu-icon .menu-icon-lines:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 2px;
        background: #000000; }
      header .menu-icon .menu-icon-lines:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px;
        background: #000000; }

  main article {
    padding: 10px;
    margin: 20px 0 0; }
  main .container {
    display: flex;
    flex-direction: column; }
  main aside {
    position: relative !important;
    margin: 10px 0px 16px;
    top: 0 !important; }
    main aside .btn_fixed_sidebar {
      display: none; } }

/*# sourceMappingURL=style.css.map */
